@import "../../scss/variables";

header {
    background-color: $colorGrayLighter;
    padding: 0 10px;
    border-bottom: 2px solid $colorGrayLight;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 50px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
    
        span {
            color: $colorGray;
        }
    }

    .site-header {
        text-transform: uppercase;
        text-align: center;
        color: $colorGreen;
    }
}