<ul>
    <li>Przepływ nieznany<i style="color: rgb(185, 185, 185);" class="mat-icon">add_location</i></li>
    <li>Przepływ - SUW/ZUW<i style="color: rgb(65, 212, 47);" class="mat-icon">add_location</i></li>
    <li>Przepływ - Zbiornik<i style="color: rgb(212, 90, 22);" class="mat-icon">add_location</i></li>
    <li>Przepływ międzystrefowy<i style="color: rgb(12, 71, 101);" class="mat-icon">add_location</i></li>
    <li>Sprzedaz - Online<i style="color: rgb(57, 214, 169);" class="mat-icon">add_location</i></li>
    <li>Sprzedaz - odczyt co 12h<i style="color: rgb(179, 44, 211);" class="mat-icon">add_location</i></li>
    <li>Sprzedaz - odczyt ręczny<i style="color: rgb(117, 0, 3);" class="mat-icon">add_location</i></li>
    <li>Przepływ wirtualny<i style="color: rgb(0, 0, 0);" class="mat-icon">add_location</i></li>
</ul>