<ul>
    <li>brak<span style="background-color: rgb(219, 228, 233);"></span></li>
    <li>0<span style="background-color: rgb(107, 251, 93);"></span></li>
    <li>10<span style="background-color: rgb(114, 226, 83);"></span></li>
    <li>20<span style="background-color: rgb(124, 201, 75);"></span></li>
    <li>30<span style="background-color: rgb(136, 176, 65);"></span></li>
    <li>40<span style="background-color: rgb(150, 150, 56);"></span></li>
    <li>50<span style="background-color: rgb(166, 126, 48);"></span></li>
    <li>60<span style="background-color: rgb(182,100, 39);"></span></li>
    <li>70<span style="background-color: rgb(199, 73, 31);"></span></li>
    <li>80<span style="background-color: rgb(215, 47, 24);"></span></li>
    <li>90<span style="background-color: rgb(232, 17, 19);"></span></li>
    <li>100<span style="background-color: rgb(250, 0, 14);"></span></li>
</ul>